/****************************************/
/* import de police googlefonts du site */
/****************************************/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

/* ******************************************************************************* */
/* ********************      VERSION DESKTOP     ********************************* */
/* ******************************************************************************* */

/****************************/
/* géneralités remarquables */
/****************************/
/* elles sont au début mais n'ont pas forcément toutes été établies en premier */

*{
    box-sizing: border-box;/* faciliter la manipulation des bordures et marges */
    /* -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; */ 
}

body{
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: medium;
    font-weight: 600;/* police plus grasse */
    padding-left: 4%;
    padding-right: 4%;
}

h1{
    font-size: 155%;
}

h2{
    font-size: 150%;
}

h3{
    font-size: 105%;
}

p, li{
    font-size: 95%;
    font-weight: 500;/* police plus légère sur les paragraphes et listes */
}

a{
    text-decoration: none;
    color: black;
    /* les liens ne doivent pas avoir d'apparence particulière sans survol */
}

button i, .town-infos .i1 i, .blue/* classe pour changement de couleur d'étoiles sur la notation */, a:hover, footer a:hover{
    color: #0065FC;
    /* on applique ici tous les éléments de police couleur bleu foncé */
}

/***********************************/
/************ header ***************/
/***********************************/

header{
  margin-bottom: 25px;/* pousser un peu le bloc suivant */
}



header nav{
    display: flex;/* permettra de bien disposer dans le bloc le logo et le menu de navigation */
    justify-content: space-between;/* ecarte un maximum la liste de menu de l'icone booki */
    align-items: flex-start;/* haut de l'icone aligné avec haut de texte de liste de menu */
    /* margin-top: 0px; */
    margin-bottom: 22px;
}

header nav img{
    /* dimension et positin du logo */
    margin-top: 35px;
    margin-left: 1.8%;
    width: 8%;
    height: auto;
    min-width: 90px;/* trop petit en dessous */
}

header nav ul{
    display: flex;
    margin-top: 0px;
    padding-left: 0%;
    width: 25%;
    min-width: 200px;/* pas de chevauchement */
    list-style-type: none;/* enlève la vue des puces */
    justify-content: space-around;/* aère un peu la liste de menu */
}

header nav li{
    margin-top: 0px;
    padding-top: 35px;/* écart de bordure */
    padding-left: 12%;
    padding-right: 12%;/* préparer le dépassement en largeur de bordure trait bleu */
    position: relative;/* prérequis préparation du <a> en surface cliquable */
}

header nav li:hover{
    padding-top: 33px;/* empeche le sursaut du texte dû au border */
    border-top: 2px solid #0065FC;/* obtention du trait bleu au dessus du lien au survol */
    color: #0065FC;
}

header nav a{
    /* surface cliquable */
    position: absolute;
    width: 100%;
    height: 100%;/* le lien occupe maintenant la surface de son contenant */
    top: 0px;
    left: 0px;
    z-index: 10; /* fait passer la surface lien en premier plan pour le clic */
}

header h1, header p{
   margin-bottom: 7px;
   margin-top: 7px;
}

/***********************************************/
/***************** formulaire ******************/
/***********************************************/

#form{
    font-weight: bold;
    height: auto;
}

.form-town, .form-filters, .town-infos{
    height: 44px;/* hauteur de chaque bloc ligne du formulaire */
}

.form-town{
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}

.geo{
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: inherit;
    border-radius: 10px 0 0 10px;
}

.geo i{
    color: black;/* exception à la couleur des icones */
    
}

input, button{
    display: flex; 
    font-weight: inherit;
    align-items: center;
}

#town{
    height: inherit;
    padding-left: 10px;
    margin-right: -2px;/* masquage border gris */
    border-style: solid;
    border-width: 1px;
    border-color: #f2f2f2
}

.form-town button{
    height: inherit;
    color: white;
    padding-right: 18px;
    padding-left: 18px;
    background-color: #0065FC;
    border-style: solid;
    border-color: #0065FC;
    border-radius: 0 10px 10px 0;
}

#magnifglass{
    color: #0065FC;/* cacher la loupe de version mobile */
}

.form-filters{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding-right: 15px;
}

.form-filters>*{
    margin-right: 2.9%;
    font-size: 110%;/* sinon le mot filtres gardait la petite police des paragraphes */
}

.form-filters button{
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;/* icone collé à gauche */
    align-items: center;
    background-color: white;
    border: 2px solid #f2f2f2;
    border-radius: 22px;
    padding: 0;/* LES <BUTTON> ONT UN PADDING PAR DEFAUT QUI POUSSE NOS ICONES */
}

button:hover, main article a:hover{/* effets shadow de survol liens */
    box-shadow: 4px 4px 5px 8px rgba(50, 50, 50, 0.1), 4px 4px 5px 8px #DEEBFF;
    border: 2px solid #DEEBFF;
}

.filter-i{
    display: flex;
    height: 44px;
    width: 44px;
    flex-direction: column;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 50%;/* icones ronds */
}

.town-infos{
    margin-top: 19px;
    display: flex; 
    align-items: center;
}

.i1{
    font-size: 70%;
    margin-right: 10px;
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
}

.form-filters button> strong{
    width: max-content;/* une seule ligne pour les textes de bouton et un padding inline homogène, évite la déformation de l'icone rond */
    padding-left: 16px;
    padding-right: 16px;
}

/***************************************************/
/*************** hébergements **********************/
/***************************************************/

#hostings{
    display: flex;
    margin-top: 19px;
    margin-bottom: 15px;
}

#hostings-currenttown{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 65%;
    height: auto;
    border-radius: 17px;
    background-color: #f2f2f2;
    margin-right: 4%;/* minimum entre les 2 blocs d'annonces */
    padding-top: 28px;
    padding-bottom: 28px;
}

#hostings-currenttown #plus, #hostings-currenttown h2{
    margin-bottom: 9px;
    margin-top: 9px;
    margin-left: 3%;  
}

.hostings-currenttown-articleblock{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;/* retour ligne pour les articles qui débordent */
    justify-content: space-between;
    width: auto;
    height: auto;
    margin-left: 3%;
    margin-right: 3%;   
}

article{
    border-radius: 13px;
}

.hostings-current-article{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    width: 31%; /* trois articles par rangée */
    height: auto;
    min-height: 220px;/* évite des débordements comparé au height seul */
    margin-top: 12px;
    margin-bottom: 12px;
}

.host-cur-im{
    width: auto;
    height: 130px;
    margin: 1.5%;
    margin-bottom: 0px;
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;/* rien de l'image ne dépasse du conteneur */
}

.host-cur-im img{   
    width: 100%;
    height: 100%;
    object-fit: cover;/* conserve les proportions */
    object-position: center;
}

.host-cur-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 95px;/* le min-height permet d'éviter à la ligne d'étoiles de sortir du contenant dans les petites largeurs d'affichage */
    margin-bottom: 0%;
    margin-right: 3%;
}

.host-cur-body>*{
    width: 100%;
    margin-left: 3%;
}

.hostings-currenttown-stars{
    width: 100%;
    color: #f2f2f2;/* couleur de base grise sur le groupe d'étoiles, avant coloration spécifique en bleu foncé */
    justify-self: flex-end;/* on cherche à conserver les etoiles en bas */
    margin-bottom: 3%;
    font-size: 80%;
}

.host-cur-body h3, .host-cur-body p{
    
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

#hostings-popular{
    display: flex;
    flex-direction: column;/* agencement vertical des articles */
    justify-content: flex-start;
    height: auto;
    width: 31%;
    border-radius: 17px;
    background-color: #f2f2f2;
    padding-top: 28px;
    padding-bottom: 16px;
}

#hostings-popular-h2{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 9px;
    margin-top: 9px;
    margin-left: 6%;
    margin-right: 6%;   
}

#hostings-popular-h2 h2{
    margin-bottom: 0px;
    margin-top: 0px;
}

.hostings-popular-h2i{
    align-items: center;
    justify-content: center;
}

.hostings-popular-h2i i{
    color: black;
}

.hostings-popular-articleblock{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-left: 6%;
    margin-right: 6%;
}

.hostings-popular-article{
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    height: auto;
    min-height: 140px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.host-pop-im{
    display: flex;
    height: auto;
    width: 37%;
    margin: 1.5%;
    justify-content: center;
    align-items: center;
    border-radius: 12px 0px 0px 12px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.host-pop-im img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.host-pop-body{
    max-width: 55%; /* équilibrer le texte */
    height: auto;
    min-height: 130px;
    min-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    margin: 0%;
}

.host-pop-body>*{
    width: auto;
    margin-left: 3%;
}

.host-pop-body h3{
    margin-top: 4%;
    margin-bottom: 1.5%;
}

main article{
    box-shadow: 0px 0px 15px 2px gainsboro;/* amélioration visibilité du contour des cards */
    position: relative;/* en lien avec le travail sur (main article a) */
}

main article a{
    /* matérialiser la surface cliquable du lien de chaque article */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;/* placer la surface entière de la card-lien au premier plan  */       
}

main article a:hover{
    border-radius: inherit;/* evite la perte d'arrondi sur le border */
}


/*******************************************************/
/******************* activités *************************/
/*******************************************************/

#activities{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    border-radius: 17px;
    padding-top: 28px;
    padding-bottom: 28px;
    margin-top: 6px;
    margin-bottom: 15px;
}

#activities h2{
    width: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

.activ-currenttown{
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-top: 14px;
}

.activ-articleblock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 440px;
    width: 22.75%;
    border-radius: 17px;
    margin-left: 1.5%;
    margin-right: 1.5%;      
}

.activ-articleblock:nth-child(1){
    margin-left: 0px;
}

.activ-articleblock:last-child{
    margin-right: 0px;
}

.activ-currenttown article{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#act-art-1, #act-art-4{
    height: 440px;
}

#act-art-2{
    height: 233.8px;
}

#act-art-3{
    height: 169.4px;
}

#act-art-5{
    height: 197px;
}

#act-art-6{
    height: 206.2px;
}

.activ-body{
    width: 100%;
    display: flex;
    height: 55px;
    flex-direction: column;
    justify-content: center;  
    margin-left: 3%;
}

.activ-im{
    width: 100%;
    height: 100%;
    border-radius: 13px 13px 0px 0px;
    margin: 0px;
    overflow: hidden;/* sinon l'image empiète en débordant*/
}

.activ-im img{
    object-position: top;/* position reflétant celle de la maquette avec haut d'image ajusté sur haut de contenant */
    width: 100%;
    height: 100%;
    object-fit: cover; /* l'image couvre et conserve la proportion */
}

#act-art-2 img, #act-art-1 img, #act-art-6 img{
    object-position: center;/* aligner le centre de l'image avec le centre du contenant pour voir le batiment du contexte*/
}

/**************************************************/
/***************** footer *************************/
/**************************************************/

footer{
    display: flex;
    background-color: #f2f2f2;
    padding-top: 28px;
    padding-bottom: 28px;
    margin-top: 10px;
    margin-left: -4%;/* annule les marges générales du body par exception */
    margin-right: -4%;
}

.footer-list{
    width: 32%;
}

.footer-list ul{
list-style-type: none;
line-height: 220%;
padding: 0%;
}

.footer-list:nth-child(1){
    margin-left: 4%;
}

footer h2{
    font-size: 105%;
}



/* ****************************************************************** */
/* **************** AJOUTS RESPONSIVE TABLETTE*********************** */
/* ****************************************************************** */

@media all and (min-width: 769px) and (max-width: 992px)
{
    body
    {
    padding-left: 2%;
    padding-right: 2%;
    }

    .form-filters>*{
        margin-right: 1.5%;
        font-size: 105%;
        margin-bottom: 10px;  
    }

    .form-filters p{
        width: 100%;
    }

    button> strong{
        padding-right: 10px;
        padding-left: 10px;
    }

    #hostings{
        flex-direction: column-reverse;
        
    }
    
    #hostings-currenttown{
        width: 100%;
    }

    .hostings-currenttown-articleblock{
        width: auto;
    }

    .hostings-current-article{
        min-height: 180px;
        width: 48%;/* deux articles par rangée */
    }

    .host-cur-im{
        height: 120px;
    }

    .host-cur-body{
        min-height: 60px;
    }

    .host-cur-body h3, .host-cur-body p{
        margin-top: 2%;
        margin-bottom: 1%;
    }

    #hostings-popular{
        width: 100%;
        margin-bottom: 20px;
    }

    #hostings-popular-h2{
        margin-left: 1.5%;
        margin-right: 1.5%;
    }

    .hostings-popular-articleblock{
        flex-direction: row;
        justify-content: space-between;
        width: auto;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 15px;
    }

    .hostings-popular-article{        
        height: 100px;
        max-width: 32%;
    }

    .host-pop-body{
        height: 97%;
    }

    .host-pop-body p{        
        margin-top: 5px;
    }
    
    .activ-articleblock{
        height: calc(0.66*440px);
    }
    
    #act-art-1, #act-art-4{
        height: calc(0.66*440px);
    }
    
    #act-art-2{
        height: calc(0.66*233.8px);
    }
    
    #act-art-3{
        height: calc(0.66*169.4px);
    }
    
    #act-art-5{
        height: calc(0.66*197px);
    }
    
    #act-art-6{
        height: calc(0.66*206.2px);
    }
    
    .activ-body{
        display: flex;
        height: calc(0.66*55px);
    }

    footer{
        margin-left: -2%;
        margin-right: -2%;
    }
}


/* ***************************************************************** */
/* ******************RESPONSIVE MOBILE****************************** */
/* ***************************************************************** */

@media all and (max-width: 768px)
{  
    body{
        padding-left: 1%;
        padding-right: 1%;
    }
    
    header nav
    {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    header nav ul
    {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: auto;
    }

    header nav li{
        padding-bottom: 10px;
        margin: auto;
        width: 50%;
        border-bottom: 3px solid #f2f2f2; 
    }

    header nav li:hover
    {
        border-top: none;
        border-bottom: 3px solid #0065FC;      
    }

    #header-article, #form{
        margin-left: 3%;
    }

    #submitbutton{
        border-radius: 10px;
        width: 44px;
        justify-content: center;
    }

    #magnifglass i{
        font-size: 120%;
        color: white;
    }

    #searchtext{
        display: none;
    }

    .form-filters{
        display: flex;         
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        align-content: space-between;
    }

    .form-filters>*{
        margin-bottom: 10px;
    }

    .form-filters>*:nth-child(1){
        width: 100%;
    }

    #hostings{
        flex-direction: column-reverse;
    }

    #hostings-popular{
        width: 100%;
    }

    .hostings-popular-article{
        max-height: 140px;
    }

    #hostings-currenttown{
        background-color: white;
        width: 100%;
    }

    .hostings-current-article{
        width: 100%;
    }

    #activities{
        width: 100%;
    }

    #activities h2{
        width: 97.5%;
        margin-left: 2.5%;
    }

    .activ-currenttown{
        width: 100%;;
        flex-direction: column;
    }

    .activ-articleblock{
        width: 100%;
        height: auto;
        margin: auto;
    }

    .activ-articleblock article{
        width: 95%;
        margin: auto;
        margin-top: 18px;
    }

    #act-art-1, #act-art-2, #act-art-3, #act-art-4, #act-art-5, #act-art-6{ 
        height: 220px;
    }

    footer{
        flex-direction: column;
        margin-left: -1%;
        margin-right: -1%; 
    }

    .footer-list{
        width: auto;
        margin-left: 2.5%;
    }

    .footer-list:nth-child(2), .footer-list:nth-child(3){
        padding-left: 1.5%;
    } 
}

